@dark-color: #49274a;
@light-color: #94618e;
@accent-color: #f4decb;
@bg-color: #f8eee7;

body {
    margin: 0;
    padding: 0;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
}

h1 {
	margin: 0;
	padding: 20px 0 20px 0;
	text-align: center;
	background-color: @dark-color;
	color: @accent-color;
	grid-column: 1;
}

@media screen and (min-width: 768px) {
	body {
		grid-template-columns: 1fr 1fr;
	}
	h1 {
		grid-column: 1 / span 2;
	}
}

@media screen and (min-width: 968px) {
	body {
		grid-template-columns: 1fr 1fr 1fr;
	}
	h1 {
		grid-column: 1 / span 3;
	}
}

article {
	background-color: @bg-color;
	border: 1px solid @accent-color;
	margin: 0;
	padding: 0;

	header {
		margin: 0;
		padding: 0;
		margin-bottom: 10px;
		background-color: @accent-color;
		
		h2 {
			margin: 0;
			padding: 15px;
			background-color: @light-color;
			a {
				color: white;
				text-decoration: none;
			}
		}
		
		h2:hover {
			background-color: @dark-color;
			a {
				color: @accent-color;
			}
		}
		
		dl {
			margin: 0;
			padding: 15px;
			display: grid;
			grid-template-columns: 1fr 4fr;
			dt {
				grid-column: 1;
			}
			
			dd {
				grid-column: 2;
			}
			
		}
		
	}
	
}

article > dl {
	
	margin: 0px 10px 0px 10px;
	float: left; 
	clear: left;
	
	dt {
		display: none;
	}
	
	dd {
		padding: 0;
		margin: 0;
		display: inline;
	}
	
	dd.track:after {
		content: '. ';
	}
	
	dd.track {
		color: #999;
		font-size: x-small;
	}
	
	dd.artist:after {
		content: ' - ';
	}
	
	dd.artist {
		color: @dark-color;
		font-weight: bold;
	}
	
	dd.song {
		color: @dark-color;
	}
	
	dd.remix:before {
		content: '(';
	}
	
	dd.remix:after {
		content: ')';
	}
	
	dd.remix {
		color: @light-color;
		font-size: smaller;
	}
	
}





