
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: 'Open Sans', 'sans-serif';
	background-color: #fff;
	color: #444;
}

h1, h2, h3, h4, h5, h6, 
p, dl, table {
  margin: 0 0 1em 0;
}

.grid {
  margin: 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
}

.panel {
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

.gridgrid > * {
  padding: 20px;
  margin-bottom: 10px;
  border: 3px solid yellow;
}
